@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex flex-col min-h-screen bg-bg-primary text-text-primary text-sm md:text-base lg:text-lg;
    font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
  }
  main {
    @apply flex-grow mx-auto container px-3 lg:px-4 xl:px-5 2xl:px-6;
  }
}

@layer components {
  .section{
    @apply py-10 lg:py-12;
  }
  .section-title {
    @apply font-serif text-3xl font-medium lg:text-4xl text-center text-section-titles;
  }
  .divider {
    position: relative;
  }
  .divider::before {
    content: "";
    @apply absolute top-5 w-[calc(100%-1.5rem)] h-0.5 border-b border-white lg:top-7 lg:w-[calc(100%-2rem)];
  }
}


.Toastify__toast-container--top-center {
  top: 40% !important;
  left: 50% !important;
  
  transform: translate(-50%, -50%) !important;
}
.Toastify__toast {
  height: 8rem;
  font-size: 1.125rem;
}
